body {
  width: 500px;
  text-align: center;
}

h3 {
  font-size: 50px;
  margin-bottom: -40px;
  color:#1e90ff;
}

#timer {
  font-weight: bold;
  font-size: 50px;
  margin: 0 auto;
}

#all-button {
  display:flex;
  justify-content: center;
}

#all-button button {
  display: inline-block;
  height: 40px;
  width: 144px;
  background-color: #c71585;
  font-weight: bold;
  border-radius: 5px;
}

span {
 color: #00ff7f;
}